name: CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Backend Docker Image
        run: docker build -t fastapi-backend ./backend

      - name: Build Frontend Docker Image
        run: docker build -t react-frontend ./frontend

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Push Backend Image
        run: |
          docker tag fastapi-backend ${{ secrets.DOCKER_USERNAME }}/fastapi-backend:latest
          docker push ${{ secrets.DOCKER_USERNAME }}/fastapi-backend:latest

      - name: Push Frontend Image
        run: |
          docker tag react-frontend ${{ secrets.DOCKER_USERNAME }}/react-frontend:latest
          docker push ${{ secrets.DOCKER_USERNAME }}/react-frontend:latest
